n8n-workflows/05-tool-validator.json
[
  {
    "updatedAt": "2026-01-30T03:41:28.225Z",
    "createdAt": "2026-01-27T05:25:06.869Z",
    "id": "eY69MX1JK2RgBVSHs4jj_",
    "name": "05 - Tool Validator",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "da76a4f2-acc8-45ec-b808-986164802b4f",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "d38ae8d4-45d3-44a4-ab77-f9a1cbea3f4d",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "da76a4f2-acc8-45ec-b808-986164802b4f"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "triggerAtMinute": 10
              }
            ]
          }
        },
        "id": "a37a72f1-e3ef-4e20-ba6d-3d81245a9b63",
        "name": "Schedule",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          192
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM discovery_queue WHERE status = 'pending' ORDER BY stars DESC LIMIT 10",
          "options": {}
        },
        "id": "7ef9f044-f6e4-499c-8112-f8eccbb9a866",
        "name": "Get Pending",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          224,
          96
        ],
        "credentials": {
          "postgres": {
            "id": "2QEo1AX3zIOJcmsK",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const url = $json.repo_url || '';\nconst match = url.match(/github\\.com\\/([\\w-]+)\\/([\\w-]+)/);\nif (!match) return [{json: {error: 'Invalid URL', skip: true}}];\n\nreturn [{\n  json: {\n    ...$json,\n    owner: match[1],\n    repo: match[2]\n  }\n}];"
        },
        "id": "a43bc3f4-153c-487e-ac75-4dd5e1d6a623",
        "name": "Parse URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          96
        ]
      },
      {
        "parameters": {
          "url": "=https://api.github.com/repos/{{$json.owner}}/{{$json.repo}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 1500
              }
            }
          }
        },
        "id": "1dc09727-4136-4f41-b92e-91e6a6ec82ee",
        "name": "Fetch Repo Info",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          96
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KLKAH2UEzvuoHbs4",
            "name": "Header Auth account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "=https://api.github.com/repos/{{$('Parse URL').first().json.owner}}/{{$('Parse URL').first().json.repo}}/contents",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 1500
              }
            }
          }
        },
        "id": "a75dc8bf-c658-4327-ad15-d649af0eb516",
        "name": "Fetch Contents",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          96
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KLKAH2UEzvuoHbs4",
            "name": "Header Auth account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const repoInfo = $('Fetch Repo Info').first().json;\nconst contents = $('Fetch Contents').first().json;\nconst queueItem = $('Parse URL').first().json;\n\nif (!repoInfo || repoInfo.message) {\nreturn [{json: {skip: true, error: 'Repo not found', queue_id: queueItem.id}}];\n}\n\n// Add safety check for repoInfo.name\nconst repoName = repoInfo.name || queueItem.tool_name || 'unknown';\nif (!repoName || repoName === 'unknown') {\nreturn [{json: {skip: true, error: 'Repo name missing', queue_id: queueItem.id}}];\n}\n\nconst files = Array.isArray(contents) ? contents : [];\nconst fileNames = files.map(f => f.name?.toLowerCase() || '');\nconst paths = files.map(f => f.path?.toLowerCase() || '');\n\nconst hasSkillMd = fileNames.includes('skill.md') || paths.some(p => p.includes('skill.md'));\nconst hasClaudePlugin = fileNames.includes('.claude-plugin') || paths.some(p => p.includes('.claude-plugin'));\nconst hasMcpJson = fileNames.includes('mcp.json') || paths.some(p => p.includes('mcp.json'));\nconst hasPackageJson = fileNames.includes('package.json');\n\nlet toolType = 'resource';\nif (hasClaudePlugin) toolType = 'plugin';\nelse if (hasMcpJson) toolType = 'mcp_server';\nelse if (hasSkillMd) {\nconst skillFiles = files.filter(f => f.path?.toLowerCase().includes('skill.md'));\ntoolType = skillFiles.length > 1 ? 'collection' : 'skill';\n} else if (hasPackageJson) toolType = 'cli_tool';\n\nconst desc = (repoInfo.description || '').toLowerCase();\nlet riskLevel = 'low';\nif (/subagent|autonomous|shell|execute|sudo|root/i.test(desc)) {\nriskLevel = 'medium';\n}\n\n// Derive category from description\nlet category = null;\nif (/agent|swarm|orchestrat/i.test(desc)) category = 'Agents';\nelse if (/integrat|workflow|automat/i.test(desc)) category = 'Integrations';\nelse if (/research|machine.?learning|neural/i.test(desc)) category = 'Research';\nelse if (/dev|code|editor|ide/i.test(desc)) category = 'Development';\nelse if (/market|sales|growth|seo/i.test(desc)) category = 'Marketing';\nelse if (/product|task|note|todo/i.test(desc)) category = 'Productivity';\nelse if (/mcp|model.?context|server/i.test(desc)) category = 'MCP';\n\n// Fix the line 32 error - safe toLowerCase\nconst slug = repoName.toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/-+/g, '-');\nreturn [{\njson: {\nskip: false,\nqueue_id: queueItem.id,\nname: repoName,\nslug: slug,\nrepo_url: repoInfo.html_url || queueItem.repo_url,\nrepo_owner: repoInfo.owner?.login || null, // \u2705 null instead of undefined\nrepo_name: repoName,\ndescription: (repoInfo.description || '').slice(0, 500),\ntool_type: toolType,\n  category: category,\nstars: repoInfo.stargazers_count || 0,\nforks: repoInfo.forks_count || 0,\nlast_commit_at: repoInfo.pushed_at || null, // \u2705 Fix: null instead of undefined\nlicense: repoInfo.license?.spdx_id || null, // \u2705 Fix: null instead of undefined\nhas_skill_md: hasSkillMd,\nhas_claude_plugin: hasClaudePlugin,\nhas_mcp_json: hasMcpJson,\nrisk_level: riskLevel,\nvalidation_status: 'passed',\nsource: queueItem.source || 'github_search'\n}\n}];  "
        },
        "id": "10f72f84-0e8e-4d40-a786-f7a5fa7823ab",
        "name": "Analyze & Classify",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "skip-check",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "598647ba-4afc-44d2-a974-11d70d6dc230",
        "name": "Should Insert?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1328,
          96
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO tools (name, slug, repo_url, repo_owner, repo_name,\ndescription, tool_type, stars, forks, last_commit_at, license,\nhas_skill_md, has_claude_plugin, has_mcp_json, risk_level,\nvalidation_status, source, category_id)\nVALUES ('{{$json.name}}',\n'{{$json.slug}}',\n'{{$json.repo_url}}',\n'{{$json.repo_owner}}',\n'{{$json.repo_name}}',\n'{{$json.description.replace(/'/g, \"''\")}}',\n'{{$json.tool_type}}',\n{{$json.stars}},\n{{$json.forks}},\n{{$json.last_commit_at ? \"'\" + $json.last_commit_at + \"'\" : \"NULL\"}},\n{{$json.license ? \"'\" + $json.license + \"'\" : \"NULL\"}},\n{{$json.has_skill_md}},\n{{$json.has_claude_plugin}},\n{{$json.has_mcp_json}},\n'{{$json.risk_level}}','{{$json.validation_status}}',\n'{{$json.source}}',\n'96f58f53-4eb0-4942-a3a7-22506491dd3f'\n) ON CONFLICT (slug) DO NOTHING RETURNING *",
          "options": {}
        },
        "id": "9f907b7c-c546-41b0-a2e0-9f33082df048",
        "name": "Insert Tool",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1552,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "2QEo1AX3zIOJcmsK",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://skill-of-skills-web:3000/api/v1/webhook/categorize-single",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"tool_id\": \"{{ $('Insert Tool').first().json.id }}\",\n  \"name\": \"{{ $('Insert Tool').first().json.name }}\",\n  \"description\": \"{{ $('Insert Tool').first().json.description }}\"\n}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "categorize-tool-node",
        "name": "AI Categorize",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1760,
          0
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE discovery_queue SET status='accepted', processed_at=NOW() WHERE id='{{$(\"Analyze & Classify\").first().json.queue_id}}'",
          "options": {}
        },
        "id": "71a04732-3c77-48b8-9b52-e672c739ba49",
        "name": "Mark Accepted",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1968,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "2QEo1AX3zIOJcmsK",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE discovery_queue SET status='rejected', processed_at=NOW() WHERE id='{{$(\"Analyze & Classify\").first().json.queue_id}}'",
          "options": {}
        },
        "id": "4a28746c-b5ec-466d-9497-49e7cf820703",
        "name": "Mark Rejected",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1552,
          192
        ],
        "credentials": {
          "postgres": {
            "id": "2QEo1AX3zIOJcmsK",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://discord.com/api/webhooks/1466625637014835211/A38TvdIhull1sft5TRFkQi-OzhG-b9tz3BgypXNVHJvVNjCiPM99GvrZd_q5D-2A9iV5",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"content\": \"\ud83c\udd95 New Tool Validated: {{$('Insert Tool').first().json.name}}\",\n  \"embeds\": [\n    {\n      \"title\": \"New Tool Details\",\n      \"color\": 5763719,\n      \"fields\": [\n        {\n          \"name\": \"Name\",\n          \"value\": \"{{$('Insert Tool').first().json.name}}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Type\",\n          \"value\": \"{{$('Insert Tool').first().json.tool_type}}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Category\",\n          \"value\": \"{{$('AI Categorize').first().json.category?.name || 'Uncategorized'}}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Risk\",\n          \"value\": \"{{$('Insert Tool').first().json.risk_level}}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Repository\",\n          \"value\": \"{{$('Insert Tool').first().json.repo_url}}\"\n        },\n        {\n          \"name\": \"Stars\",\n          \"value\": \"{{$('Insert Tool').first().json.stars}} \u2b50\",\n          \"inline\": true\n        }\n      ]\n    }\n  ]\n}",
          "options": {}
        },
        "id": "edb115c7-56e1-4cdd-ba1c-8afd509a4fee",
        "name": "Discord Notify",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2176,
          0
        ],
        "typeVersion": 4.2
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get Pending",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule": {
        "main": [
          [
            {
              "node": "Get Pending",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Pending": {
        "main": [
          [
            {
              "node": "Parse URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse URL": {
        "main": [
          [
            {
              "node": "Fetch Repo Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Repo Info": {
        "main": [
          [
            {
              "node": "Fetch Contents",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Contents": {
        "main": [
          [
            {
              "node": "Analyze & Classify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze & Classify": {
        "main": [
          [
            {
              "node": "Should Insert?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Insert?": {
        "main": [
          [
            {
              "node": "Insert Tool",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mark Rejected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Tool": {
        "main": [
          [
            {
              "node": "AI Categorize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Categorize": {
        "main": [
          [
            {
              "node": "Mark Accepted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Accepted": {
        "main": [
          [
            {
              "node": "Discord Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "9a39476b-0cb2-4565-ad33-e321f404f328",
    "tags": []
  }
]