n8n-workflows/12-trending-score-recalc.json
{
  "name": "12 - Trending Score Recalculation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recalc-trending",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 480],
      "webhookId": "recalc-trending"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, stars, x_mention_count, x_recommendation_count, reddit_mention_count, last_commit_at, risk_level, is_official, is_verified FROM tools WHERE is_active = true",
        "options": {}
      },
      "id": "fetch-tools",
      "name": "Fetch All Active Tools",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [520, 380],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sm.tool_id, AVG(i.trust_score) as avg_trust_score FROM social_mentions sm JOIN influencers i ON sm.influencer_id = i.id WHERE i.trust_score > 0.6 AND sm.tool_id IS NOT NULL GROUP BY sm.tool_id",
        "options": {
          "alwaysOutputData": true
        }
      },
      "id": "fetch-influencer-scores",
      "name": "Fetch Influencer Scores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [740, 380],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Scoring weights from config/scoring-weights.json\nconst WEIGHTS = {\n  github: { weight: 0.25, max_stars: 10000 },\n  social: { weight: 0.35, max_engagement: 1000, recommendation_multiplier: 3 },\n  influencer: { weight: 0.15, trust_threshold: 0.6 },\n  recency: { weight: 0.25, decay_days: 90 }\n};\n\nconst RISK_MULTIPLIERS = { low: 1.0, medium: 0.85, high: 0.6, critical: 0.1 };\nconst BONUSES = { is_official: 1.5, is_verified: 1.2 };\n\n// Get tools from first query\nconst tools = $('Fetch All Active Tools').all().map(i => i.json);\n\n// Get influencer scores - handle empty results\nlet influencerScores = {};\ntry {\n  const influencerData = $('Fetch Influencer Scores').all();\n  influencerScores = influencerData.reduce((acc, i) => {\n    acc[i.json.tool_id] = parseFloat(i.json.avg_trust_score) || 0;\n    return acc;\n  }, {});\n} catch (e) {\n  // No influencer data available\n  influencerScores = {};\n}\n\nconst now = new Date();\nconst results = [];\n\nfor (const tool of tools) {\n  // 1. GitHub Score: min(stars / max_stars, 1.0) * weight\n  const stars = parseInt(tool.stars) || 0;\n  const github_score = Math.min(stars / WEIGHTS.github.max_stars, 1.0) * WEIGHTS.github.weight;\n\n  // 2. Social Score: min((mentions + recommendations*3) / max_engagement, 1.0) * weight\n  const xMentions = parseInt(tool.x_mention_count) || 0;\n  const xRecs = parseInt(tool.x_recommendation_count) || 0;\n  const redditMentions = parseInt(tool.reddit_mention_count) || 0;\n  const totalEngagement = xMentions + (xRecs * WEIGHTS.social.recommendation_multiplier) + redditMentions;\n  const social_score = Math.min(totalEngagement / WEIGHTS.social.max_engagement, 1.0) * WEIGHTS.social.weight;\n\n  // 3. Influencer Score: avg trust score from high-trust influencers * weight\n  const avgTrustScore = influencerScores[tool.id] || 0;\n  const influencer_score = avgTrustScore * WEIGHTS.influencer.weight;\n\n  // 4. Recency Score: exp(-days_since_commit / decay_days) * weight\n  let recency_score = 0;\n  if (tool.last_commit_at) {\n    const lastCommit = new Date(tool.last_commit_at);\n    const daysSinceCommit = (now - lastCommit) / (1000 * 60 * 60 * 24);\n    recency_score = Math.exp(-daysSinceCommit / WEIGHTS.recency.decay_days) * WEIGHTS.recency.weight;\n  }\n\n  // 5. Composite Score: sum of all component scores\n  const composite_score = github_score + social_score + influencer_score + recency_score;\n\n  // 6. Apply risk multiplier\n  const riskLevel = tool.risk_level || 'low';\n  const riskMultiplier = RISK_MULTIPLIERS[riskLevel] || 1.0;\n\n  // 7. Apply bonuses\n  let bonusMultiplier = 1.0;\n  if (tool.is_official) bonusMultiplier *= BONUSES.is_official;\n  if (tool.is_verified) bonusMultiplier *= BONUSES.is_verified;\n\n  // 8. Final trending score\n  const trending_score = composite_score * riskMultiplier * bonusMultiplier;\n\n  results.push({\n    json: {\n      id: tool.id,\n      name: tool.name,\n      github_score: Math.round(github_score * 10000) / 10000,\n      social_score: Math.round(social_score * 10000) / 10000,\n      recency_score: Math.round(recency_score * 10000) / 10000,\n      influencer_score: Math.round(influencer_score * 10000) / 10000,\n      composite_score: Math.round(composite_score * 10000) / 10000,\n      trending_score: Math.round(trending_score * 10000) / 10000\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "calculate-scores",
      "name": "Calculate All Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "batch-tools",
      "name": "Batch Tools",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1180, 380]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tools SET github_score = $2, social_score = $3, recency_score = $4, influencer_score = $5, composite_score = $6, trending_score = $7, updated_at = NOW() WHERE id = $1::uuid",
        "options": {
          "queryParams": "={{ [$json.id, $json.github_score, $json.social_score, $json.recency_score, $json.influencer_score, $json.composite_score, $json.trending_score] }}"
        }
      },
      "id": "update-tool",
      "name": "Update Tool Scores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1400, 380],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-done",
              "leftValue": "={{ $('Batch Tools').context.noItemsLeft }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-batch-done",
      "name": "All Batches Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1620, 380]
    },
    {
      "parameters": {
        "jsCode": "// Collect stats from all processed items\nconst allScores = $('Calculate All Scores').all();\nconst total = allScores.length;\n\nlet maxTrending = 0;\nlet topTool = null;\n\nfor (const item of allScores) {\n  if (item.json.trending_score > maxTrending) {\n    maxTrending = item.json.trending_score;\n    topTool = item.json.name;\n  }\n}\n\nreturn [{\n  json: {\n    total_updated: total,\n    top_tool: topTool,\n    top_score: maxTrending,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "collect-stats",
      "name": "Collect Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SKILLS_APP_URL || 'https://skills.911fund.io'}}/api/v1/readme/regenerate",
        "options": {
          "timeout": 30000
        }
      },
      "id": "trigger-readme",
      "name": "Trigger README Regeneration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 280],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"📊 Trending Scores Recalculated\",\n    \"color\": 3447003,\n    \"fields\": [\n      {\n        \"name\": \"Tools Updated\",\n        \"value\": \"{{ $('Collect Stats').item.json.total_updated }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Top Tool\",\n        \"value\": \"{{ $('Collect Stats').item.json.top_tool || 'N/A' }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Top Score\",\n        \"value\": \"{{ $('Collect Stats').item.json.top_score?.toFixed(3) || '0' }}\",\n        \"inline\": true\n      }\n    ],\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {}
      },
      "id": "discord-notify",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"total_updated\": {{ $('Collect Stats').item.json.total_updated }},\n  \"top_tool\": \"{{ $('Collect Stats').item.json.top_tool || 'N/A' }}\",\n  \"top_score\": {{ $('Collect Stats').item.json.top_score || 0 }},\n  \"completed_at\": \"{{ $('Collect Stats').item.json.completed_at }}\"\n}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2500, 280]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch All Active Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch All Active Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Active Tools": {
      "main": [
        [
          {
            "node": "Fetch Influencer Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Influencer Scores": {
      "main": [
        [
          {
            "node": "Calculate All Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate All Scores": {
      "main": [
        [
          {
            "node": "Batch Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Tools": {
      "main": [
        [
          {
            "node": "Update Tool Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tool Scores": {
      "main": [
        [
          {
            "node": "All Batches Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Batches Done?": {
      "main": [
        [
          {
            "node": "Collect Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Stats": {
      "main": [
        [
          {
            "node": "Trigger README Regeneration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger README Regeneration": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}
